---
layout: defaultWithSearchBar
---

<div class="container">
    <div class="filtres">
        <form>
            <label for="tri">Trier par</label>
            <select id="tri">
                <option>Prix</option>
                <option>Note utilisateur</option>
            </select>
            <select>
                <option>-- Localisation --</option>
                <option>Normandie</option>
                <option>Bretagne</option>
            </select>
            <select>
                <option>-- Mode de livraison --</option>
                <option>En main propre</option>
                <option>Colissimo</option>
                <option>Point retrait</option>
            </select>
            <select>
                <option>-- Trier par --</option>
                <option>Localisation</option>
                <option>Prix</option>
            </select>
            <label for="langue">Langue du livre</label>
            <select id="langue">
                <option>Français</option>
                <option>Anglais</option>
                <option>Allemand</option>
                <option>Espagnol</option>
            </select>
            <div>
                Afficher uniquement
                <input type="checkbox" /><label>Location</label>
                <input type="checkbox" /><label>Vente</label>
                <input type="checkbox" /><label>Echange</label>
            </div>
        </form>
    </div><!--
    --><div class="resultats">
        <div class="livre preview">
            <div class="livre-image">
                {% include livre.html %}
            </div>
            <div class="livre-description">
                <h1>Titre du livre recherché <span class="note">(note)</span></h1>
                <p>Langue : française</p>
                <p>Description du livre</p>
                <a href="{{ site.baseurl }}/livre" title="En savoir plus">En savoir plus</a>
                <a href="#" title="En savoir plus">S'abonner</a>
                <div class="moreInfos">
                    5 résultats trouvés <br />
                    12 personnes possèdent ce livre <br />
                    21 personnes recherchent ce livre <br />
                    En moyenne ce livre vaut 5 €
                </div>
            </div>
        </div>
        <div class="resultats-liste">
            {% for i in (1..5) %}
            <div class="resultat">
                <div class="infos">
                    <div class="prix">5 €</div>
                    <a class="btn-details" href="{{ site.baseurl }}/details" title="Voir l'offre">Détails</a>
                </div>
                <p><a href="{{ site.baseurl }}/utilisateur" title="En savoir plus">Pseudo (note)</a></p>
                <p>Pays - Localité - Mode de livraison</p>
                <p>Description de l'offre</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
