---
layout: defaultWithSearchBar
---

<div class="container">
    <div class="filtres">
        <form>
            <fieldset class="form-group">
                <legend class="col-form-label pt-0">Trier par</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tri" id="prix" checked />
                    <label class="form-check-label" for="prix">Prix</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tri" id="note" />
                    <label class="form-check-label" for="note">Note</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label pt-0">Localisation</legend>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="localisation" id="caen" />
                    <label class="form-check-label" for="caen">Caen (4)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="localisation" id="paris" />
                    <label class="form-check-label" for="paris">Paris (1)</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label pt-0">Mode de livraison</legend>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="livraison" id="en-main-propre" />
                    <label class="form-check-label" for="en-main-propre">En main propre (5)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="livraison" id="colissimo" />
                    <label class="form-check-label" for="colissimo">Colissimo (4)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="livraison" id="mondial-relay" />
                    <label class="form-check-label" for="mondial-relay">Mondial Relay (4)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="livraison" id="point-retrait" />
                    <label class="form-check-label" for="point-retrait">Point retrait (1)</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label pt-0">Langue du livre</legend>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="langue" id="français" />
                    <label class="form-check-label" for="français">Français (4)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="langue" id="anglais" />
                    <label class="form-check-label" for="anglais">Anglais (1)</label>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label pt-0">Afficher uniquement</legend>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="afficher" id="location" />
                    <label class="form-check-label" for="location">Location (3)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="afficher" id="vente" />
                    <label class="form-check-label" for="vente">Vente (1)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="afficher" id="echange" />
                    <label class="form-check-label" for="echange">Echange (1)</label>
                </div>
            </fieldset>
            <button class="btn btn-primary">Filtrer</button>
        </form>
    </div><!--
    --><div class="resultats">
        <div class="livre preview">
            <div class="livre-image">
                {% include livre.html %}
            </div>
            <div class="livre-description">
                <h1>Titre du livre recherché <span class="note">(note)</span></h1>
                <p>Langue : française</p>
                <p>Description du livre</p>
                <a href="{{ site.baseurl }}/livre" title="En savoir plus">En savoir plus</a>
                <a href="#" title="En savoir plus">S'abonner</a>
                <div class="moreInfos">
                    5 résultats trouvés <br />
                    12 personnes possèdent ce livre <br />
                    21 personnes recherchent ce livre <br />
                    En moyenne ce livre vaut 5 €
                </div>
            </div>
        </div>
        <div class="resultats-liste">
            {% for i in (1..5) %}
            <div class="resultat">
                <div class="infos">
                    <div class="prix">5 €</div>
                    <a class="btn-details" href="{{ site.baseurl }}/details" title="Voir l'offre">Détails</a>
                </div>
                <p><a href="{{ site.baseurl }}/utilisateur" title="En savoir plus">Pseudo (note)</a></p>
                <p>Pays - Localité - Mode de livraison</p>
                <p>Description de l'offre</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
